
body {
  margin: 0;
  padding: 0;
}
.body {
  background-image: url("../../assets/Group.png");
  width: 1280px;
  height: 800px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.body h1{
  color: #FFF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 0.1px;
  width: 700px;
}

.progress {
  margin-top: 10px;
  width: 80%;
  height: 1.5rem;
  background-color: #FFF;
  border: 1px solid #FAFAFA;
  box-shadow: 0 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.514);
  border-radius: 8px;
  color: white
}

.body video {
  
}

.containerVideo {
  width: 700px; 
  height: 480px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}